  .container {
    background-color: #COCOCO
  }

  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }

  .button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px;
  }

  .marg {
    margin: 30px;
  }

  .jumbotron {
    background-image: url("../img/images.jpg");
  }

  .color {
    color: blue
  }

  .outputList {
    margin-top: 20px;
    color: blue;
    height: 200px;
    overflow-y: scroll;
  }

  .well {
    box-shadow: 10px 10px 5px #888888;
  }
